.buttonBase {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  height: max-content;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

.buttonBase:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  background-color: #d5d5d5;
}

.buttonBase:active {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: rgb(17, 82, 147);
}

.secondary {
  background-color: var(--color-secondary);
}

.secondary:hover {
  background-color: rgb(154, 0, 54);
}

.primary span,
.secondary span {
  color: var(--color-light-0);
}

.small {
  padding: 4px 10px;
}

.small span {
  font-size: 0.8125rem;
}

.outlined:not(.primary, .secondary) {
  background: var(--color-light-0);
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.outlined:not(.primary, .secondary):hover {
  background: #fdfdfd;
}

.outlined:not(.primary, .secondary):active {
  background-color: #f4f4f4;
}

.outlined.primary {
  background: var(--color-light-0);
  border: 1px solid var(--color-primary);
  box-shadow: none;
}

.outlined.primary span {
  color: var(--color-primary);
}

.outlined.primary:hover {
  background: #edf5fd;
}

.outlined.primary:active {
  background-color: #dcebfb;
}

.outlined.secondary {
  background: var(--color-light-0);
  border: 1px solid var(--color-secondary);
  box-shadow: none;
}

.outlined.secondary span {
  color: var(--color-secondary);
}

.outlined.secondary:hover {
  background: #fff0f5;
}

.outlined.secondary:active {
  background-color: #ffdce8;
}

.buttonBase:disabled {
  box-shadow: none;
  background: var(--color-disabled);
  border-color: transparent;
  cursor: default;
  pointer-events: none;
}

.buttonBase:disabled span {
  color: var(--color-light-4);
}
