:root {
  --color-primary: #1976d2;
  --color-secondary: #dc004e;
  --color-disabled: #0000001f;
  --color-light-0: #ffffff;
  --color-light-1: #f5f5f5;
  --color-light-2: #efefef;
  --color-light-3: #0000003b;
  --color-light-4: #00000042;
  --color-dark-0: #30363c;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.word-break-all {
  word-break: break-all;
}

.color-danger {
  color: var(--color-secondary);
}

.text-capitalize {
  text-transform: capitalize;
}
